main{
    display: flex
}

#header-color{
    background-image: linear-gradient(to right,rgb(62, 94, 235), rgb(79, 26, 123));
}
#search-city {
    width: 25%
}

#city-info{
    width: 65%;
}

/* .hidden{
    display: none
} */

.background-color{
    color: white;
    background-color: rgb(45, 45, 87);
}